/* @import 'normalize.css'; */
@import 'settings/index.css';

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

/* ::selection {
  background: var(--color-for-action);
  color: var(--color-blue-dark);
} */

*,
button,
input,
optgroup,
select,
textarea {
  color: var(--color-black);
  font-family: var(--font-copy);
}
