:root {
  --rotation-start: 0deg;
  --rotation-end: 360deg;
}

@keyframes Icon-logo-spin {
  from {
    transform: rotate(var(--rotation-start));
  }
  to {
    transform: rotate(var(--rotation-end));
  }
}
